@charset "utf-8";

.tierlist-action {
  display: flex;
  width: 1050px;
  justify-content: right;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  /* 上右下左 */
}

.MU_box_controls {
  display: flex;
  flex-direction: column;
  /* 縦並び */
  height: auto;
  /* MU_boxの高さと必ず揃える */
  pointer-events: auto;
  width: 36px;
  /* ボタン幅を固定（任意） */
}

.MU_box_controls button {
  flex: auto;
  margin-left: 20%;
  width: auto;
  /* 親の幅に合わせる */
  background: #444;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  padding: 0;
}



@media (max-width: 840px) {

  /* 各MU_box_controlsをMU_boxの高さ・位置に合わせて配置 */

  .tierlist-action {
    display: flex;
    max-width: 98%;
    justify-content: right;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    /* 上右下左 */
  }

  .MU_box_controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    /* MU_boxのmin-heightと同じ */
    pointer-events: auto;
    /* ボタンはクリック可 */
  }

  /* ボタンを縦3つ並び・高さ均等に */
  .MU_box_controls button {
    background: #444;
    color: #fff;
    border: none;
    border-radius: 5%;
    font-size: 8px;
    cursor: pointer;
    padding: 0;
  }

  /* シンプル＆小さめなボタンデザイン */
  .tierlist-action-btn {
    display: none;
  }

  .custom-file-label {
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
    border-radius: 5%;
    font-size: 8px;
    padding: 5px 10px;
    margin: 0;
    cursor: pointer;
    transition: background 0.2s;
  }

}