node_modules
ejs
dest
dest_32期
test_mu.html
css/common_test.css
.vscode/settings.json
.gitignore
css/common_test.css
js/matchup_data_32期.js
player/フェザント.html
player/みーやー.html
player/フェザント.html
player/みーやー.html
script
chara_org/01.mario.html
chara_org/02.donkey_kong.html
chara_org/03.link.html
chara_org/04.samus_dark_samus.html
chara_org/06.yoshi.html
chara_org/07.kirby.html
chara_org/08.fox.html
chara_org/09.pikachu.html
chara_org/10.luigi.html
chara_org/11.ness.html
chara_org/12.captain_falcon.html
chara_org/13.jigglypuff.html
chara_org/14.peach_daisy.html
chara_org/16.bowser.html
chara_org/17.ice_climber.html
chara_org/18.sheik.html
chara_org/19.zelda.html
chara_org/20.dr_mario.html
chara_org/21.pichu.html
chara_org/22.falco.html
chara_org/23.marth.html
chara_org/24.lucina.html
chara_org/25.young_link.html
chara_org/26.ganondorf.html
chara_org/27.mewtwo.html
chara_org/28.roy.html
chara_org/29.chrom.html
chara_org/30.mr_game_and_watch.html
chara_org/31.metaknight.html
chara_org/32.pit_dark_pit.html
chara_org/32.pit.html
chara_org/33.dark_pit.html
chara_org/34.zero_suit_samus.html
chara_org/35.wario.html
chara_org/36.snake.html
chara_org/37.ike.html
chara_org/38.pokemon_trainer.html
chara_org/39.diddy_kong.html
chara_org/40.lucas.html
chara_org/41.sonic.html
chara_org/42.king_dedede.html
chara_org/43.olimar.html
chara_org/44.lucario.html
chara_org/45.rob.html
chara_org/46.toon_link.html
chara_org/47.wolf.html
chara_org/48.villager.html
chara_org/49.megaman.html
chara_org/50.wii_fit_trainer.html
chara_org/51.rosalina_luma.html
chara_org/52.little_mac.html
chara_org/53.greninja.html
chara_org/54.mii_brawler.html
chara_org/55.mii_swordfighter.html
chara_org/56.mii_gunner.html
chara_org/57.palutena.html
chara_org/58.pacman.html
chara_org/59.robin.html
chara_org/60.shulk.html
chara_org/61.bowser_jr.html
chara_org/62.duck_hunt.html
chara_org/63.ryu.html
chara_org/64.ken.html
chara_org/65.cloud.html
chara_org/66.corrin.html
chara_org/67.bayonetta.html
chara_org/68.inkling.html
chara_org/69.ridley.html
chara_org/70.simon_richter.html
chara_org/72.king_k_rool.html
chara_org/73.isabelle.html
chara_org/74.incineroar.html
chara_org/75.piranha_plant.html
chara_org/76.joker.html
chara_org/77.hero.html
chara_org/78.banjo_and_kazooie.html
chara_org/79.terry.html
chara_org/80.byleth.html
chara_org/81.minmin.html
chara_org/82.steve.html
chara_org/83.sephiroth.html
chara_org/84.homura.html
chara_org/85.kazuya.html
chara_org/86.sora.html
js/unused/backgroundcolor.js
js/unused/canvas.js
js/unused/drag_box.js
js/unused/drag_free_phone.js
js/unused/dynamic_chara.js
js/unused/index.html
js/unused/index.min.js
js/unused/matchup_data_32期.js
js/unused/matchup_matrix.json
js/unused/pro_matchup_matrix.json
js/unused/scroll-behaviour.min.js
js/unused/sub_scores_exact.json
js/unused/toggle-menu.js
js/unused/top10_matrix.json
js/unused/tournament.js
js/unused/visible.js
js/unused/zoom.js
.gitignore
meta_trends.html
stage_ban.html
css/common_test.css
css/meta_trends.css
js/backgroundcolor.js
js/canvas.js
js/drag_box.js
js/drag_free_phone.js
js/drag_pc.js
js/drag_phone.js
js/index.html
js/index.min.js
js/meta_trends.js
js/scroll-behaviour.min.js
js/toggle-menu.js
js/tournament.js
js/trend_data.js
js/visible.js
js/zoom.js
player/player_population.html
player/フェザント.html
player/みーやー.html
ranking/ranking_backup.html
ranking/ranking_new.html
css/common_test.css
css/common_test.css
更新メモ.txt
css/common_test.css
old/color_tier.css
old/color_tier.html
old/color_tier.js
img/fighter_backup/01.マリオ.png
img/fighter_backup/02.ドンキーコング.png
img/fighter_backup/03.リンク.png
img/fighter_backup/04_サムス_.05.ダークサムム.png
img/fighter_backup/04.サムス_05.ダークサムス.png
img/fighter_backup/04.サムス.png
img/fighter_backup/05.ダークサムス.png
img/fighter_backup/06.ヨッシー.png
img/fighter_backup/07.カービィ.png
img/fighter_backup/08.フォックス.png
img/fighter_backup/09.ピカチュウ.png
img/fighter_backup/10.ルイージ.png
img/fighter_backup/11.ネス.png
img/fighter_backup/12.キャプテン・ファルコン.png
img/fighter_backup/13.プリン.png
img/fighter_backup/14.ピーチ_15.デイジー.png
img/fighter_backup/14.ピーチ.png
img/fighter_backup/15.デイジー.png
img/fighter_backup/16.クッパ.png
img/fighter_backup/17.アイスクライマー.png
img/fighter_backup/18.シーク.png
img/fighter_backup/19.ゼルダ.png
img/fighter_backup/20.ドクターマリオ.png
img/fighter_backup/21.ピチュー.png
img/fighter_backup/22.ファルコ.png
img/fighter_backup/23.マルス.png
img/fighter_backup/24.ルキナ.png
img/fighter_backup/25.こどもリンク.png
img/fighter_backup/26.ガノンドルフ.png
img/fighter_backup/26.ガノンドロフ.png
img/fighter_backup/27.ミュウツー.png
img/fighter_backup/28.ロイ.png
img/fighter_backup/29.クロム.png
img/fighter_backup/30.Mr.ゲーム_ウォッチ.png
img/fighter_backup/30.Mr.ゲーム&ウォッチ.png
img/fighter_backup/31.メタナイト.png
img/fighter_backup/32.ピット_33.ブラックピット.png
img/fighter_backup/32.ピット.png
img/fighter_backup/33.ブラックピット.png
img/fighter_backup/34.ゼロスーツサムス.png
img/fighter_backup/35.ワリオ.png
img/fighter_backup/36.スネーク.png
img/fighter_backup/37.アイク.png
img/fighter_backup/38.ポケモントレーナー.png
img/fighter_backup/39.ディディーコング.png
img/fighter_backup/40.リュカ.png
img/fighter_backup/41.ソニック.png
img/fighter_backup/42.デデデ.png
img/fighter_backup/43.ピクミン＆オリマー.png
img/fighter_backup/44.ルカリオ.png
img/fighter_backup/45.ロボット.png
img/fighter_backup/46.トゥーンリンク.png
img/fighter_backup/47.ウルフ.png
img/fighter_backup/48.むらびと.png
img/fighter_backup/49.ロックマン.png
img/fighter_backup/50.Wii Fit トレーナー.png
img/fighter_backup/51.ロゼッタ＆チコ.png
img/fighter_backup/52.リトルマック.png
img/fighter_backup/53.ゲッコウガ.png
img/fighter_backup/54.格闘Mii.png
img/fighter_backup/55.剣術Mii.png
img/fighter_backup/56.射撃Mii.png
img/fighter_backup/57.パルテナ.png
img/fighter_backup/58.パックマン.png
img/fighter_backup/59.ルフレ.png
img/fighter_backup/60.シュルク.png
img/fighter_backup/61.クッパJr..png
img/fighter_backup/62.ダックハント.png
img/fighter_backup/63.リュウ.png
img/fighter_backup/64.ケン.png
img/fighter_backup/65.クラウド.png
img/fighter_backup/66.カムイ.png
img/fighter_backup/67.ベヨネッタ.png
img/fighter_backup/68.インクリング.png
img/fighter_backup/69.リドリー.png
img/fighter_backup/70.シモン_71.リヒター.png
img/fighter_backup/70.シモン.png
img/fighter_backup/71.リヒター.png
img/fighter_backup/72.キングクルール.png
img/fighter_backup/73.しずえ.png
img/fighter_backup/74.ガオガエン.png
img/fighter_backup/75.パックンフラワー.png
img/fighter_backup/76.ジョーカー.png
img/fighter_backup/77.勇者.png
img/fighter_backup/78.バンジョー＆カズーイ.png
img/fighter_backup/79.テリー.png
img/fighter_backup/80.ベレトス.png
img/fighter_backup/81.ミェンミェン.png
img/fighter_backup/82.スティーブ.png
img/fighter_backup/83.セフィロス.png
img/fighter_backup/84.ホムヒカ.png
img/fighter_backup/85.カズヤ.png
img/fighter_backup/86.ソラ.png
img/fighter_backup/87.おまかせ.png
img/fighter_backup/87.おまかせa.png
img/fighter_backup/DA.png
img/fighter_backup/index.html
img/fighter_backup/misansen.png
img/fighter_backup/NB.png
img/fighter_backup/omakase.png
img/fighter_backup/アイク.png
img/fighter_backup/アルフ.png
img/fighter_backup/アレックス.png
img/fighter_backup/イギー.png
img/fighter_backup/インクリング.png
img/fighter_backup/ウェンディ.png
img/fighter_backup/エンダーマン.png
img/fighter_backup/ガード.png
img/fighter_backup/カズヤ.png
img/fighter_backup/カムイ.png
img/fighter_backup/クラウド.png
img/fighter_backup/ゼニガメ.png
img/fighter_backup/セフィロス.png
img/fighter_backup/ソラ2.png
img/fighter_backup/ソラ3.png
img/fighter_backup/ソラ4.png
img/fighter_backup/ソラ5.png
img/fighter_backup/ソラ6.png
img/fighter_backup/ゾンビ.png
img/fighter_backup/パルテナ.png
img/fighter_backup/ピカチュウ.png
img/fighter_backup/ヒカリ.png
img/fighter_backup/フシギソウ.png
img/fighter_backup/ベヨネッタ.png
img/fighter_backup/ベレス.png
img/fighter_backup/ポケトレ.png
img/fighter_backup/ホムラ.png
img/fighter_backup/マリオ1.png
img/fighter_backup/マリオ2.png
img/fighter_backup/むらびと.png
img/fighter_backup/モートン.png
img/fighter_backup/ラリー.png
img/fighter_backup/リザードン.png
img/fighter_backup/リドリー.png
img/fighter_backup/リトルマック.png
img/fighter_backup/リトルマック2.png
img/fighter_backup/リトルマック3.png
img/fighter_backup/リンク.png
img/fighter_backup/ルドウィグ.png
img/fighter_backup/ルフレ.png
img/fighter_backup/レミー.png
img/fighter_backup/ロイ.png
img/fighter_backup/ワリオ.png
img/fighter_backup/横B.png
img/fighter_backup/横アピ.png
img/fighter_backup/横スマ.png
img/fighter_backup/横強.png
img/fighter_backup/下B.png
img/fighter_backup/下アピ.png
img/fighter_backup/下スマ.png
img/fighter_backup/下強.png
img/fighter_backup/下投げ.png
img/fighter_backup/空N.png
img/fighter_backup/空下.png
img/fighter_backup/空後.png
img/fighter_backup/空上.png
img/fighter_backup/空前.png
img/fighter_backup/後投げ.png
img/fighter_backup/弱.png
img/fighter_backup/上B.png
img/fighter_backup/上アピ.png
img/fighter_backup/上スマ.png
img/fighter_backup/上強.png
img/fighter_backup/上投げ.png
img/fighter_backup/前投げ.png
img/fighter_backup/掴み.png
img/fighter_backup/掴み打撃.png
img/fighter_backup/勇者1.png
img/fighter_backup/勇者3.png
img/fighter_backup/勇者8.png
img/contents_backup/01_ice_climber_falco.png
img/contents_backup/02_hero_villager.png
img/contents_backup/２周年記念プレゼント企画.png
img/contents_backup/03_olimer_reflet.png
img/contents_backup/3周年記念プレゼント企画.png
img/contents_backup/04_olimer_pikachu.png
img/contents_backup/４周年企画1.png
img/contents_backup/05_ice_climber_beyonetta.png
img/contents_backup/06_game_watch_pikachu.png
img/contents_backup/07_shulk_dr_mario.png
img/contents_backup/08_simon_ice_climber.png
img/contents_backup/09_pacman_pichu.png
img/contents_backup/10_peach_purin.png
img/contents_backup/Average_Rate_VS_Battle_of_Number.png
img/contents_backup/new_format_for_tier_list.png
img/contents_backup/ranking_rate_21.png
img/contents_backup/ranking_rate_22.png
img/contents_backup/ranking_rate_23.png
img/contents_backup/ranking_rate_24.png
img/contents_backup/ranking_rate_25.png
img/contents_backup/ranking_rate_26_high.png
img/contents_backup/ranking_rate_26.png
img/contents_backup/ranking_rate_27_high.png
img/contents_backup/ranking_rate_27.png
img/contents_backup/ranking_rate_28_high.png
img/contents_backup/ranking_rate_28.png
img/contents_backup/ranking_rate_29_high.png
img/contents_backup/ranking_rate_29.png
img/contents_backup/ranking_rate_30_high.png
img/contents_backup/ranking_rate_30.png
img/contents_backup/ranking_rate_31_high.png
img/contents_backup/ranking_rate_31.png
img/contents_backup/ranking_rate_32_high.png
img/contents_backup/ranking_rate_32.png
img/contents_backup/ranking_rate_34_high.png
img/contents_backup/ranking_rate_34.png
img/contents_backup/tournament_22.png
img/contents_backup/tournament_25.png
img/contents_backup/tournament_27.png
img/contents_backup/Winning_Average_VS_Average_Rate.png
img/contents_backup/Winning_Average_VS_Battle_of_Number.png
img/contents_backup/サブ補完チェッカー.png
img/contents_backup/個人統計.png
player/フェザント.html
css/common_test.css
